# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
ques2/assignment1_data/
ques2/_MACOSX/

# Executables
*.swf
*.air
*.ipa
*.apk

*.DS_Store

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
assignment1/ques2/assignment1_data/__MACOSX/assignment1_data/._.DS_Store
assignment1/ques2/assignment1_data/assignment1_data/
assignment1/ques2/assignment1_data/__MACOSX/assignment1_data/
assignment1/ques2/assignment1_data.zip
*.ipynb_checkpoints
assignment1/Ques1/image2.png
assignment1/Ques1/image1.png
assignment1/ques2/assignment1_data/.DS_Store
assignment1/ques2/assignment1_data/test/Red_headed_Woodpecker/.DS_Store
assignment1/ques2/assignment1_data/test/American_Goldfinch/.DS_Store
assignment1/ques2/assignment1_data/*
assignment1/Ques1/__pycache__/pysift.cpython-37.pyc
assignment1/Ques1/__pycache__/SIFT.cpython-37.pyc
Harsh/*
recorded_lectures/*
teaching_material/*
books/*

assignment2/hars/*
assignment1/Harsh_Assignment1_AIP2020/*
assignment2/Part1.ipynb


recordedlectures/*.mp4
assignment2/20210524_Semantic_Segmentation_using_PyTorch_DeepLabV3_ResNet50.zip

sangeeta@10.24.36.18/*
sangeeta@10.24.36.18/FCN.ipynb
sangeeta@10.24.36.18/Ncut.ipynb
